In [3]:
import pandas as pd
import numpy as np

In [4]:
df_cod_series=pd.read_excel('cod_series.xlsx') 
df_cod_series

   Cód Nome abreviado
0   12            CDI
1   11          Selic
2  189           IGPM

In [5]:
url='https://api.bcb.gov.br/dados/serie/bcdata.sgs.12/dados?formato=json'
df_api=pd.read_json(url)
df_api

            data     valor
0     06/03/1986  0.068111
1     10/03/1986  0.069028
2     12/03/1986  0.067417
3     14/03/1986  0.064584
4     17/03/1986  0.068222
...          ...       ...
8934  26/11/2021  0.029256
8935  29/11/2021  0.029256
8936  30/11/2021  0.029256
8937  01/12/2021  0.029256
8938  02/12/2021  0.029256

[8939 rows x 2 columns]

In [10]:
for codigo in df_cod_series['Cód']:
    url=f'https://api.bcb.gov.br/dados/serie/bcdata.sgs.{codigo}/dados?formato=json'
    df_api=pd.read_json(url)
    print(df_api)
    df_api.to_excel('Indicador'+str(codigo)+'.xlsx')

            data     valor
0     06/03/1986  0.068111
1     10/03/1986  0.069028
2     12/03/1986  0.067417
3     14/03/1986  0.064584
4     17/03/1986  0.068222
...          ...       ...
8934  26/11/2021  0.029256
8935  29/11/2021  0.029256
8936  30/11/2021  0.029256
8937  01/12/2021  0.029256
8938  02/12/2021  0.029256

[8939 rows x 2 columns]
            data     valor
0     04/06/1986  0.065041
1     05/06/1986  0.067397
2     06/06/1986  0.066740
3     09/06/1986  0.068247
4     10/06/1986  0.067041
...          ...       ...
8893  29/11/2021  0.029256
8894  30/11/2021  0.029256
8895  01/12/2021  0.029256
8896  02/12/2021  0.029256
8897  03/12/2021  0.029256

[8898 rows x 2 columns]
           data  valor
0    01/06/1989  19.68
1    01/07/1989  35.90
2    01/08/1989  36.92
3    01/09/1989  39.92
4    01/10/1989  40.64
..          ...    ...
385  01/07/2021   0.78
386  01/08/2021   0.66
387  01/09/2021  -0.64
388  01/10/2021   0.64
389  01/11/2021   0.02

[390 rows x 2 columns]